ALTER TABLE public.orders ADD COLUMN IF NOT EXISTS observation text;
ALTER TABLE public.orders ADD COLUMN IF NOT EXISTS admin_message text;
ALTER TABLE public.orders ADD COLUMN IF NOT EXISTS client_name text;
